@import "variables";
@import "adptiv";
@import "normalize";
@import "mixins";
@import "main";
.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 210px;
  align-items: center;
  margin-top: 71px;
  &__left {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 24px;
    h3 {
      font-size: 42px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      font-weight: 400px;
    }
    button {
      width: 125px;
      height: 42px;
      border: none;
      border-radius: 8px;
      background: $primary-color;
      color: white;
      margin-bottom: 99px;
    }
  }
  &__right {
    img {
      width: 380px;
      height: 270px;
    }
  }
}
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 680px;
    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      h5 {
        font-size: 28px;
        font-weight: 600;
      }
      a {
        padding-top: 11px;
        border-radius: 8px;
        text-align: center;
        width: 240px;
        height: 42px;
        font-size: 20px;
        font-weight: 600;
        background: #97cad11f;
        color: $primary-color;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    &__right {
      a {
        color: $primary-color;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    max-width: 1196px;
    margin: 0 auto;
    &__box {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      gap: 8px;
      a {
        color: black;
        display: flex;
        align-items: center;
      }
      &__pro {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
  }
}
.online {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 787px;
    &__left {
      h5 {
        font-size: 28px;
        font-weight: 600;
      }
    }
    &__right {
      a {
        color: $primary-color;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    max-width: 1196px;
    margin: 0 auto;
    &__box {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      gap: 8px;
      a {
        color: black;
        display: flex;
        align-items: center;
      }
      &__pro {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }
  }
}
.join {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  max-height: 236px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 8%;
    background: #97cad1;
    border-radius: 8px;
    z-index: -1;
  }
  &__left {
    display: flex;
    flex-direction: column;
    max-width: 739px;
    gap: 16px;
    padding: 36px 0 36px 56px;
    h3 {
      font-size: 28px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      max-width: 665px;
    }
    button {
      width: 192px;
      height: 40px;
      color: white;
      background: #e32359;
      border: none;
      border-radius: 8px;
    }
  }
  &right {
    padding: 20px 56px 20px 0;
    img {
      width: 341px;
      height: 196px;
    }
  }
}
.explore {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 64px;
  h3 {
    font-size: 28px;
    font-weight: 600;
  }
  &__contanier {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 16px;
    margin-top: 24px;
    &__img {
      position: relative;
      width: 135px;
      height: 112px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      gap: 6px;
      h6 {
        font-size: 16px;
        font-weight: 500;
        max-width: 80px;
      }
      ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 8%;
        background: #97cad1;
        border-radius: 8px;
        z-index: -1;
      }
    }
  }
}
.popular {
  max-width: 1200px;
  margin: 0 auto;
  h6 {
    font-size: 28px;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin-top: 24px;
    margin-bottom: 65px;
    &__img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      img {
        width: 205px;
        height: 205px;
      }
      p {
        font-size: 20px;
        font-weight: 600px;
      }
    }
  }
}
.how {
  max-width: 1200px;
  margin: 0 auto;
  h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  &__container {
    display: flex;
    gap: 32px;
    &__box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 580px;
      height: 180px;
      margin-bottom: 64px;
      ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 8%;
        background: #97cad1;
        border-radius: 8px;
        z-index: -1;
      }
      img {
        width: 41px;
        height: 41px;
      }
      &__links {
        display: flex;
        flex-direction: column;
        gap: 16px;
        p {
          max-width: 373px;
          font-size: 16px;
          font-weight: 400;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          color: #00798a;
        }
      }
    }
  }
}
.made {
  max-width: 1200px;
  margin: 0 auto;
  h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    max-width: 895px;
    margin-bottom: 28px;
  }

  &__content {
    display: flex;
    gap: 32px;
    &__post {
      margin-bottom: 65px;
      h4 {
        font-size: 18px;
        font-weight: 600;
        width: 292px;
        margin: 24px 0 12px 0;
      }
      p {
        max-width: 370px;
        font-size: 16px;
        font-weight: 400;
      }
      a {
        color: #00798a;
      }
    }
  }
}
#events-container {
  margin: 24px 0 24px 15%;
}
.events__container {
  display: flex;
  flex-direction: column;
  max-width: 610px;

  &__event {
    padding: 16px 0 40px 0;
    max-width: 605px;
    margin-top: 16px;
    border-top: 1px solid #d9d9d9;
    display: flex;
    gap: 12px;
    &__des {
      display: flex;
      flex-direction: column;
      gap: 4px;
      h5 {
        max-width: 380px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    img {
      width: 160px;
      height: 105px;
      border-radius: 8px;
    }
  }
}
.main {
  display: flex;
  justify-content: center;
  gap: 356px;
  &__right {
    margin-top: 81px;
    #right {
      color: #212121;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 14px;
    }
  }
}
.pagetitel {
  margin: 77px 20% 24px 17%;
  h2 {
    font-size: 28px;
    font-weight: 600;
  }
}
.events__container {
  &__total {
    width: 150px;
    margin: 0 auto;
  }
}

.events-block {
  max-width: 990px;
  margin: 24px 20% 24px 20%;
}
.events-title {
  font-size: 20px;
  margin-bottom: 12px;
  color: #00798a;
  border-bottom: 4px solid #00798a;
  max-width: 64px;
}
.events__filters {
  display: flex;
  gap: 18px;
}
.filter {
  margin-bottom: 10px;
  select {
    background: #f6f7f8;
    border: none;
    border-radius: 25px;
    height: 46px;
    max-width: 114px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }
}
.filter select {
  width: 108%;
  padding: 5px;
  margin: 5px 0;
}

@media (max-width: 393px) {
  .intro {
    flex-direction: column;
    gap: 10px;
    &__left {
      h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        max-width: 352px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        size: 12px;
        line-height: 24px;
        max-width: 358px;
        color: #212121;
      }
      button {
        display: none;
      }
    }
    &__right {
      img {
        width: 215px;
        height: 152px;
      }
    }
  }
  .events {
    &__tabs {
      margin-left: -90px;
      gap: 0;
      &__left {
        gap: 5px;
        h5 {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
        }
        a {
          width: 160px;
          height: 30px;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      &__right {
        display: none;
      }
    }
    &__content {
      grid-template-columns: repeat(1, 1fr);
      &__box {
        h4 {
          font-size: 10px;
          font-weight: 500;
          line-height: 15px;
        }
        a {
          font-size: 9px;
        }
      }
    }
  }
  .online {
    &__tabs {
      margin-left: -90px;
      gap: 0;
      &__left {
        gap: 5px;
        h5 {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
        }
        a {
          width: 160px;
          height: 30px;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      &__right {
        display: none;
      }
    }
    &__content {
      grid-template-columns: repeat(1, 1fr);
      &__box {
        h4 {
          font-size: 10px;
          font-weight: 500;
          line-height: 15px;
        }
        a {
          font-size: 9px;
        }
      }
    }
  }
  .explore {
    margin-left: 32px;
    &__contanier {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 11px;
      max-width: 293px;
    }
  }
  .popular {
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      margin-left: 24px;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      margin-left: 24px;
      max-width: 350px;
    }
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      justify-content: center;
      align-items: center;
      gap: 1px;
      &__img {
        margin-bottom: 60px;
      }
      img {
        width: 150px;
        height: 150px;
      }
      h6 {
        font-size: 15px;
        font-weight: 600;
        line-height: 21px;
      }
      #miami {
        display: none;
      }
    }
  }
  .how {
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      margin-left: 24px;
    }
    &__container {
      flex-direction: column;
      max-width: 360px;
      margin-left: 24px;
      gap: 0;

      &__box {
        align-items: flex-start;
        max-width: 350px;
        max-height: 115px;
        margin-bottom: 10px;
        h4 {
          font-size: 12px;
          font-weight: 600;
          line-height: 15px;
        }
        p {
          font-size: 10px;
          font-weight: 400;
          line-height: 15px;
          max-width: 232px;
        }
        img {
          width: 25px;
          height: 78px;
        }
        a {
          font-size: 10px;
        }
        &__links {
          padding: 20px 0 15px 0;
        }
      }
    }
  }
  .made {
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      margin-left: 24px;
      margin-top: 7px;
    }
    #made {
      display: none;
    }
    &__content {
      margin-left: 24px;
      flex-direction: column;
      gap: 0;
      &__post {
        margin-bottom: 45px;
        img {
          width: 360px;
          height: 183px;
        }
        h4 {
          font-size: 16px;
          font-weight: 600;
          line-height: 27px;
          max-width: 280px;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: 23px;
          max-width: 355px;
        }
        a {
          font-size: 12px;
          font-weight: 400;
          line-height: 23px;
        }
      }
    }
  }
}
@media (max-width: 430px) {
  .intro {
    flex-direction: column;
    gap: 10px;
    &__left {
      h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        max-width: 352px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        size: 12px;
        line-height: 24px;
        max-width: 358px;
        color: #212121;
      }
      button {
        display: none;
      }
    }
    &__right {
      img {
        width: 215px;
        height: 152px;
      }
    }
  }
  .events {
    &__tabs {
      margin-left: -90px;
      gap: 0;
      &__left {
        gap: 5px;
        h5 {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
        }
        a {
          width: 160px;
          height: 30px;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      &__right {
        display: none;
      }
    }
    &__content {
      grid-template-columns: repeat(1, 1fr);
      &__box {
        h4 {
          font-size: 10px;
          font-weight: 500;
          line-height: 15px;
        }
        a {
          font-size: 9px;
        }
      }
    }
  }
  .online {
    &__tabs {
      margin-left: -90px;
      gap: 0;
      &__left {
        gap: 5px;
        h5 {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
        }
        a {
          width: 160px;
          height: 30px;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      &__right {
        display: none;
      }
    }
    &__content {
      grid-template-columns: repeat(1, 1fr);
      &__box {
        h4 {
          font-size: 10px;
          font-weight: 500;
          line-height: 15px;
        }
        a {
          font-size: 9px;
        }
      }
    }
  }
  .explore {
    margin-left: 32px;
    &__contanier {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 11px;
      max-width: 293px;
    }
  }
  .popular {
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      margin-left: 24px;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      margin-left: 24px;
      max-width: 350px;
    }
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      justify-content: center;
      align-items: center;
      gap: 1px;
      &__img {
        margin-bottom: 60px;
      }
      img {
        width: 150px;
        height: 150px;
      }
      h6 {
        font-size: 15px;
        font-weight: 600;
        line-height: 21px;
      }
      #miami {
        display: none;
      }
    }
  }
  .how {
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      margin-left: 24px;
    }
    &__container {
      flex-direction: column;
      max-width: 360px;
      margin-left: 24px;
      gap: 0;

      &__box {
        align-items: flex-start;
        max-width: 350px;
        max-height: 115px;
        margin-bottom: 10px;
        h4 {
          font-size: 12px;
          font-weight: 600;
          line-height: 15px;
        }
        p {
          font-size: 10px;
          font-weight: 400;
          line-height: 15px;
          max-width: 232px;
        }
        img {
          width: 25px;
          height: 78px;
        }
        a {
          font-size: 10px;
        }
        &__links {
          padding: 20px 0 15px 0;
        }
      }
    }
  }
  .made {
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      margin-left: 24px;
      margin-top: 7px;
    }
    #made {
      display: none;
    }
    &__content {
      margin-left: 24px;
      flex-direction: column;
      gap: 0;
      &__post {
        margin-bottom: 45px;
        img {
          width: 360px;
          height: 183px;
        }
        h4 {
          font-size: 16px;
          font-weight: 600;
          line-height: 27px;
          max-width: 280px;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: 23px;
          max-width: 355px;
        }
        a {
          font-size: 12px;
          font-weight: 400;
          line-height: 23px;
        }
      }
    }
  }
}
