$primary-color: #00798a;
$secondary-color: #97cad1;
$accent-color: #e32359;
$text-color: #212121;
$light-text-color: #555;
$muted-text-color: #707070;
$white-color: #ffffff;
$black-color: #000;

$font-size-xl: 42px;
$font-size-lg: 28px;
$font-size-md: 20px;
$font-size-sm: 16px;
$font-size-xs: 14px;

$button-width: 125px;
$button-height: 40px;
$button-radius: 8px;
$container-max-width: 1192px;
$container-padding: 20px;

$opacity-overlay: 0.08;
$gap-large: 24px;
$gap-small: 8px;
$border-radius: 8px;
$max-width: 1200px; // Adjust as needed
$padding: 20px; // Adjust as needed
$spacing-between-elements: 20px;
